 
  .watch-details{
      background: rgba(255, 153, 0, 1);
      margin-top: 50px;
      width: 100%;
      display: flex;
      justify-content: center;
      margin-right: 50px;
      border: none;
      border-radius: 20px;
      padding: 10px;
      align-items: center;
      color:rgba(14, 22, 26, 1);
      font-size: 30px;
  }

  .btn-text{
    
    color: rgba(14, 22, 26, 1);
    margin-right: 10px;
  }
  .icon{
    margin: 0 5px;
    font-size: 30px;
    vertical-align: middle;
  }
  
  .watch-item{
    margin: 0 30px;
    border: 1px solid #95A0A7;
    padding: 20px;
    border-radius: 20px;
  }