.watch{
    display: grid;
    grid-template-columns: 4fr 1fr;
    /* margin: 50px; */
}
.watch-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.main{
    position: sticky;
    top: 0;
}
.result{
    height: 100%;
    padding: 20px;
    position: relative;
    text-align: center;
    background:  rgba(255, 153, 0, 0.3);
}

.result h1{
    color: #1C2B35;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px
}

.order-btn{
    font-size: 28px;
    background: rgba(255, 153, 0, 1);
    border-radius: 5px;
    padding: 10px 42px;
    border: none; 
}
.order-btn2{
    font-size: 28px;
    background: rgba(255, 153, 0, 1);
    border-radius: 5px;
    padding: 10px 25px;
    border: none; 
}
.btn-cart button{
    margin: 10px 0;
}
.btn-cart{
    padding: 50px 0;
}

.order-text{
    color:  #FFFFFF;;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

@media (max-width: 800px){
    .watch{
        grid-template-columns: repeat(1, 1fr);
    }
    
    .btn-cart button{
        margin: 0 10px;
    }
    /* .btn-cart{
        display: flex;
    } */
    
    .watch-container{
        grid-template-columns: repeat(1 , 1fr);
    }
}
@media (min-width: 800px){
    .watch{
        grid-template-columns: 4fr 1fr;
    }
    
    .btn-cart button{
        margin: 10px 0;
    }
    .btn-cart{
        padding: 50px 0;
    }
    
    .watch-container{
        grid-template-columns: repeat(3, 1fr);
    }
}